.c1 {
  background-color: darkgray;
  height: 550px;
  width: 100%;
  background-image: url(/images/ball1.png);
  background-repeat: no-repeat;
  /* background-position: top right; */
  /* background-position: top center; */
  /* background-position: center; */
  /* background-position: 10% 50%; */
  /* background-position: 150px 250px; */
  /* background-position: bottom 20px right 120px; */
  background-position: top 20px right 120px;
}
